body {
  font-family: "Poppins", sans-serif;
  color: #f0f0f0;
  /* background-color: #191919;
  line-height: 1.6;
  background-image: url(images/bg-home-2.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(2.5px) brightness(70%); */
  background-color: transparent;
}

/* ====== BACKGROUND VIDEO SETUP ====== */
#bg-video {
  filter: brightness(50%) blur(2.5px);
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh;
  object-fit: cover;
  z-index: -1; 
  transform: scale(1.02);
  
}

.gallery-page-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 100px 40px;
  color: #fff;
  text-align: center;
}

.gallery-header {
  margin-bottom: 50px;
}

.back-button {
  color: #cfcfcf;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 30px;
  transition: color 0.3s ease;
}

.back-button:hover {
  color: #44ffca;
}

#gallery-title {
  font-size: 48px;
  font-weight: 600;
  color: #44ffca;
  margin-bottom: 10px;
}

#gallery-description {
  font-size: 18px;
  color: #cfcfcf;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.7;
}


.gallery-container {
  width: 100%;
  height: 630px;
  margin-top: 40px;
  opacity: 0;
  transition: opacity 0.5s ease
}

.gallery-container.flickity-enabled {
  opacity: 1;
}



.gallery-container .gallery-cell {
  width: 80%;
  height: 100%;
  margin: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease
}


.gallery-container .gallery-cell:not(.is-selected) {
  opacity: 0.3;

}


.gallery-container .gallery-cell img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}


.gallery-container .flickity-button {
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  
}
.gallery-container .flickity-button:hover {
  background: rgba(255, 255, 255, 0.2);
}
.gallery-container .flickity-page-dots .dot.is-selected {
  background: #44ffca;
  box-shadow: 0 10px 30px rgba(255, 255, 255, 1);
}


/* ====== MUSIC CONTROL BUTTON ====== */
#music-control {
  position: sticky;  
  bottom: 40px;     
  left: 1800px;      
  z-index: 99999;   

  background-color: #44ffca; /* Warna Tombol */
  color: #0f0f0f;            /* Warna Ikon */
  
  width: 55px;
  height: 55px;
  border-radius: 50%;
  cursor: pointer;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease;
}

#music-control:hover {
  transform: scale(1.1);
}

/* Ukuran Ikon */
/* Pastikan bagian ini ada atau diperbarui di index.css */
#music-control svg {
  width: 28px;
  height: 28px;
  fill: currentColor; /* Ini penting agar warna ikon mengikuti text color */
}